@charset "utf-8";
/* 외부 CSS 파일 상단엔 반드시 문자셋 설정코드가 있어야한다! 
@charset-"utf-8"; 이거 위에는 아무것도 쓰면 안된당*/

/* 메인페이지 css - main.css */

/* 메인.css에 작성했던걸 커먼.css에 옮김 */
/* 공통 모듈 css 불러오기 */
@import url(./common.css);

/* 메인페이지에만 적용되는 코드 작성 */
.main-area{
   padding: 0;
  overflow: hidden; /*이미지가 꽉차게 보이고 안튀어나오게 하는거; 
  클리핑마스크처럼 -자식요소가 부모보다 커지면 부모박스가 커지게 함 */
}

.main-area img{
  /* vertical-align: middle; 이미지 하나만 넣었을 때 
  하단에 여백 발생하는 거 해결하는 거 */
   vertical-align: middle;
}


/* css 파일 분리 잘 생각하고 해*/